// Sizing
$base-font-size: 15px;
$base-size: 15;
// Colors
$white: #fff;
$black: #000;

$primary-color: #8e44ad;
$secondary-color: rgba(142, 68, 173, 0.05);

$primary-font-color: #34495e;
$secondary-font-color: #7f8c8d;

$acent-color: #dedede;

$error: #cc0000;
$warning: #ffc107;
$success: #28a745;

$title: #888888;
$search-shadow: #eeeeee;
$hero-title: #155679;
$main-btn: #54cdc1;
