@import '../../../style/abstract/variables';

.hero {
  background: $white;
  background: var(--white, $white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.54);
  &-body {
    width: 40%;
    p {
      margin: 5px 0;
      color: $title;
      color: var(--title, $title);
      font-size: 20px;
      font-weight: 200;
    }
  }
  h1 {
    font-size: 40px;
    color: $hero-title;
    color: var(--hereo-title, $hero-title);
    margin: 5px 0;
  }
  .hero-p {
    font-size: 20px;
    margin: 15px 0;
    font-style: oblique;
    color: $secondary-font-color;
    color: var(--secondary-font-color, $secondary-font-color);
  }
  .btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px 30px;
    font-size: 15px;
    background: $main-btn;
    background: va(--main-btn, $main-btn);
    border-radius: 10px;
    color: $white;
    color: var(--white, $white);
  }
}
