@import '../../../style/abstract/variables';
.quizes {
  height: max-content;
  flex: 1 0 400px;
  max-width: 400px;
  margin: 15px;
  background: $white;
  background: var(--white, $white);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.54);
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .quizes-card {
    max-width: unset;
  }
}
