.Announcements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  &-user {
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  &-avtar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0 5px;
  }
  &-class {
    display: flex;
    flex-direction: column;
    p {
      color: #d9dadb;
    }
  }
  &-message {
    color: #d9dadb;
    flex: 1;
    padding: 0 15px;
    border-left: 1px solid #d9dadb;
  }
}
