.header {
  height: 80px;
  width: 100%;
  background: #fff;
}
.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.name {
  color: #888888;
}
.search {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.input-search {
  padding: 10px;
  border: 1px solid rgba(244, 245, 247, 0.342);
  border-radius: 25px;
  width: 50%;
  box-shadow: 2px 2px #eeeeee;
}
.input-search input {
  border: none;
  outline: none;
  width: 90%;
  margin: 5px;
}
.icon {
  font-size: 30px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
