.header {
  width: 100%;
  background: #fff;
}
.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.name {
  color: #888888;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * {
    margin: 0 5px;
  }
}
.input-search {
  padding: 10px;
  border: 1px solid rgba(244, 245, 247, 0.342);
  border-radius: 25px;
  box-shadow: 0 0 10px 0px #eeeeee;
  width: 300px;
}
.input-search input {
  border: none;
  outline: none;
  margin: 0 5px;
}
.icon {
  font-size: 18px;
  display: flex;
  align-items: center;
  > * {
    margin: 0 5px;
  }
}
@media (max-width: 767.98px) {
  .search {
  }
}
