.hero {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 6px 7px 10px -5px rgba(0, 0, 0, 0.54);
  &-body {
    width: 40%;
    p {
      margin: 5px 0;
      color: #888888;
      font-size: 20px;
      font-weight: 200;
    }
  }
  h1 {
    font-size: 40px;
    color: #155679;
    margin: 5px 0;
  }
  .hero-p {
    font-size: 20px;
    margin: 15px 0;
    font-style: oblique;
    color: #dbe2e5;
  }
  .btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px 30px;
    font-size: 15px;
    background: #54cdc1;
    border-radius: 10px;
    color: #fff;
  }
}
