@import '../../style/abstract/variables';
.quizes-cell {
  margin: 10px 0;
  .fas {
    color: $main-btn;
    color: var(--main-btn, $main-btn);
  }
  .btn-quize {
    margin-top: 15px;
    border: 1px solid $main-btn;
    border: 1px solid var(--main-btn, $main-btn);
    color: $main-btn;
    color: var(--main-btn, $main-btn);
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    &:hover {
      background: $main-btn;
      background: var(--main-btn, $main-btn);
      color: $white;
      color: var(--white, $white);
    }
  }
}
