@import '../../../style/abstract/variables';

.Announcements-card {
  flex: 1 0 600px;
  height: max-content;
  margin: 15px;
  background: $white;
  background: var(--white, $white);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 3px 3px 9px -3px rgba(0, 0, 0, 0.54);
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
